__pycache__
*.log
*.egg-info
*/build
*.tfstate

# test outputs
sdk/test/unit/outputs
sdk/test/integration/outputs

# terraform
infrastructure/terraform/.terraform*
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/.terraform.tfstate.lock.info
infrastructure/terraform/terraform.tfstate.backup

