__pycache__
*.log
*.egg-info
*/build
*.tfstate

# test outputs
sdk/test/unit/outputs
sdk/test/integration/outputs
sdk/test/docker/outputs
sdk/test/k8s/outputs

# pytorch lightning outputs
lightning_logs/*

# terraform
infrastructure/terraform/.terraform*
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/.terraform.tfstate.lock.info
infrastructure/terraform/terraform.tfstate.backup

